#### Pyspark Handling Missing Value
- Dropping Columns
- Dropping Rows
- Various Parameter In Dropping functionalities
- Handling Missing values by Mean, Median And Mode

In [2]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Practise').getOrCreate()

In [24]:
df_pyspark=spark.read.csv('test2.csv',sep=';',header=True,inferSchema=True)

In [25]:
df_pyspark.show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|     Alex|  31|        10| 30000|
|     Igor|  30|         8| 25000|
| Vladimir|  29|         4| 20000|
|   Victor|  24|         3| 20000|
|   Sergey|  21|         1| 15000|
|    Masha|  23|         2| 18000|
|Vladislav|null|      null| 40000|
|     null|  34|        10| 38000|
|     null|  36|      null|  null|
+---------+----+----------+------+

In [7]:
##drop the columns
df_pyspark.drop('Name').show()

+----+----------+------+
| age|Experience|Salary|
+----+----------+------+
|  31|        10| 30000|
|  30|         8| 25000|
|  29|         4| 20000|
|  24|         3| 20000|
|  21|         1| 15000|
|  23|         2| 18000|
|null|      null| 40000|
|  34|        10| 38000|
|  36|      null|  null|
+----+----------+------+

In [8]:
df_pyspark.na.drop().show()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
|    Alex| 31|        10| 30000|
|    Igor| 30|         8| 25000|
|Vladimir| 29|         4| 20000|
|  Victor| 24|         3| 20000|
|  Sergey| 21|         1| 15000|
|   Masha| 23|         2| 18000|
+--------+---+----------+------+

In [11]:
### any==how
df_pyspark.na.drop(how='all').show() # if all parameters in the line are null

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|     Alex|  31|        10| 30000|
|     Igor|  30|         8| 25000|
| Vladimir|  29|         4| 20000|
|   Victor|  24|         3| 20000|
|   Sergey|  21|         1| 15000|
|    Masha|  23|         2| 18000|
|Vladislav|null|      null| 40000|
|     null|  34|        10| 38000|
|     null|  36|      null|  null|
+---------+----+----------+------+

In [16]:
##threshold
df_pyspark.na.drop(how='any',thresh=3).show()#thresh - value not Null

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
|    Alex| 31|        10| 30000|
|    Igor| 30|         8| 25000|
|Vladimir| 29|         4| 20000|
|  Victor| 24|         3| 20000|
|  Sergey| 21|         1| 15000|
|   Masha| 23|         2| 18000|
|    null| 34|        10| 38000|
+--------+---+----------+------+

In [20]:
 ##Subset
df_pyspark.na.drop(how='any', subset=['Experience']).show() #in the Experience column, if there is Null, the row is deleted

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
|    Alex| 31|        10| 30000|
|    Igor| 30|         8| 25000|
|Vladimir| 29|         4| 20000|
|  Victor| 24|         3| 20000|
|  Sergey| 21|         1| 15000|
|   Masha| 23|         2| 18000|
|    null| 34|        10| 38000|
+--------+---+----------+------+

In [29]:
### Filling the Missing Value
df_pyspark.na.fill('MV',['age','Experience']).show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|     Alex|  31|        10| 30000|
|     Igor|  30|         8| 25000|
| Vladimir|  29|         4| 20000|
|   Victor|  24|         3| 20000|
|   Sergey|  21|         1| 15000|
|    Masha|  23|         2| 18000|
|Vladislav|null|      null| 40000|
|     null|  34|        10| 38000|
|     null|  36|      null|  null|
+---------+----+----------+------+

In [30]:
df_pyspark.show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|     Alex|  31|        10| 30000|
|     Igor|  30|         8| 25000|
| Vladimir|  29|         4| 20000|
|   Victor|  24|         3| 20000|
|   Sergey|  21|         1| 15000|
|    Masha|  23|         2| 18000|
|Vladislav|null|      null| 40000|
|     null|  34|        10| 38000|
|     null|  36|      null|  null|
+---------+----+----------+------+

In [32]:
from pyspark.ml.feature import Imputer

imputer = Imputer( #replace null on mean values
    inputCols=['age','Experience','Salary'],
    outputCols=['{}_imputed'.format(c) for c in ['age','Experience','Salary']]
    ).setStrategy('mean')

In [34]:
# Add impuration cols to df
imputer.fit(df_pyspark).transform(df_pyspark).show()

+---------+----+----------+------+-----------+------------------+--------------+
|     Name| age|Experience|Salary|age_imputed|Experience_imputed|Salary_imputed|
+---------+----+----------+------+-----------+------------------+--------------+
|     Alex|  31|        10| 30000|         31|                10|         30000|
|     Igor|  30|         8| 25000|         30|                 8|         25000|
| Vladimir|  29|         4| 20000|         29|                 4|         20000|
|   Victor|  24|         3| 20000|         24|                 3|         20000|
|   Sergey|  21|         1| 15000|         21|                 1|         15000|
|    Masha|  23|         2| 18000|         23|                 2|         18000|
|Vladislav|null|      null| 40000|         28|                 5|         40000|
|     null|  34|        10| 38000|         34|                10|         38000|
|     null|  36|      null|  null|         36|                 5|         25750|
+---------+----+----------+------+-----------+------------------+--------------+