# PySpark Basic Introduction

In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py): started
  Building wheel for pyspark (setup.py): still running...
  Building wheel for pyspark (setup.py): finished with status 'done'
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845525 sha256=ced0d8b78ce1db9a7ec2662d0b16ea854948ac3188018755535b90db9b037ddf
  Stored in directory: c:\users\vlaso\appdata\local\pip\cache\wheels\51\c8\18\298a4ced8ebb3ab8a7d26a7198c0cc7035abb906bde94a4c4b
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

In [2]:
import pyspark

In [5]:
import pandas as pd
pd.read_csv('test1.csv', sep=';')

   Name  Age
0  Alex   31
1  John   30
2  Igor   29

In [6]:
from pyspark.sql import SparkSession

In [7]:
spark = SparkSession.builder.appName('Practise').getOrCreate()

In [8]:
spark

In [12]:
df_pyspark = spark.read.csv('test1.csv', sep=';')

In [14]:
df_pyspark.show()

+----+---+
| _c0|_c1|
+----+---+
|Name|Age|
|Alex| 31|
|John| 30|
|Igor| 29|
+----+---+

In [22]:
df_pyspark = spark.read.option('header','true').csv('test1.csv', sep=';')

In [23]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [24]:
df_pyspark.head(3)

[Row(Name='Alex', Age='31'),
 Row(Name='John', Age='30'),
 Row(Name='Igor', Age='29')]

In [25]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)