## Pyspark GroupBy And Aggregate Functions

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName('Agg').getOrCreate()

In [3]:
spark

In [6]:
df_pyspark=spark.read.csv('test 4.csv',sep=';',header=True,inferSchema=True)

In [7]:
df_pyspark.show()

+------+------------+------+
|  Name| Departments|salary|
+------+------------+------+
|  Alex|Data Science| 10000|
|  Alex|         IOT|  5000|
|Victor|    Big Data|  4000|
|  Alex|    Big Data|  4000|
|Victor|Data Science|  3000|
| Anton|Data Science| 20000|
| Anton|         IOT| 10000|
| Anton|    Big Data|  5000|
|  Igor|Data Science| 10000|
|  Igor|    Big Data|  2000|
+------+------------+------+

In [8]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- salary: integer (nullable = true)

In [9]:
## Groupby
### Grouped to find the maximum salary
df_pyspark.groupBy('Name').sum().show()

+------+-----------+
|  Name|sum(salary)|
+------+-----------+
|  Igor|      12000|
|  Alex|      19000|
| Anton|      35000|
|Victor|       7000|
+------+-----------+

In [12]:
df_pyspark.groupBy('Name').avg().show()

+------+------------------+
|  Name|       avg(salary)|
+------+------------------+
|  Igor|            6000.0|
|  Alex| 6333.333333333333|
| Anton|11666.666666666666|
|Victor|            3500.0|
+------+------------------+

In [13]:
### Groupby Departmernts  which gives maximum salary
df_pyspark.groupBy('Departments').sum().show()

+------------+-----------+
| Departments|sum(salary)|
+------------+-----------+
|         IOT|      15000|
|    Big Data|      15000|
|Data Science|      43000|
+------------+-----------+

In [14]:
df_pyspark.groupBy('Departments').mean().show()

+------------+-----------+
| Departments|avg(salary)|
+------------+-----------+
|         IOT|     7500.0|
|    Big Data|     3750.0|
|Data Science|    10750.0|
+------------+-----------+

In [15]:
df_pyspark.groupBy('Departments').count().show()

+------------+-----+
| Departments|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    4|
|Data Science|    4|
+------------+-----+

In [16]:
df_pyspark.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|      73000|
+-----------+