###### PySpark Dataframe
###### Reading The Dataset
###### Checking the Datatypes of the Column(Schema)
###### Selecting Columns And Indexing
###### Check Describe option similar to Pandas
###### Adding Columns
###### Dropping columns
###### Renaming Columns

In [1]:
from pyspark.sql import SparkSession

In [5]:
spark = SparkSession.builder.appName('Dataframe').getOrCreate()

In [33]:
# read the dataset
df_pyspark=spark.read.option('header','true').csv('test1.csv',sep=';', inferSchema=True)

In [34]:
### Check the schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [13]:
#Another option
df_pyspark=spark.read.csv('test1.csv',sep=';',header=True,inferSchema=True)

In [35]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [15]:
df_pyspark.columns

['Name', 'Age', 'Experience']

In [16]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [17]:
df_pyspark.head(3)

[Row(Name='Alex', Age=31, Experience=10),
 Row(Name='John', Age=30, Experience=8),
 Row(Name='Igor', Age=29, Experience=4)]

In [18]:
df_pyspark.show()

+----+---+----------+
|Name|Age|Experience|
+----+---+----------+
|Alex| 31|        10|
|John| 30|         8|
|Igor| 29|         4|
+----+---+----------+

In [20]:
df_pyspark.select('Name').show()

+----+
|Name|
+----+
|Alex|
|John|
|Igor|
+----+

In [22]:
df_pyspark.select(['Name','Experience']).show()

+----+----------+
|Name|Experience|
+----+----------+
|Alex|        10|
|John|         8|
|Igor|         4|
+----+----------+

In [23]:
df_pyspark['Name']

Column<'Name'>

In [24]:
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [26]:
df_pyspark.describe().show()

+-------+----+----+-----------------+
|summary|Name| Age|       Experience|
+-------+----+----+-----------------+
|  count|   3|   3|                3|
|   mean|null|30.0|7.333333333333333|
| stddev|null| 1.0|3.055050463303893|
|    min|Alex|  29|                4|
|    max|John|  31|               10|
+-------+----+----+-----------------+

In [36]:
### Adding Columns in data frame
df_pyspark=df_pyspark.withColumn('Experience After 2 year',df_pyspark['Experience']+2)

In [37]:
df_pyspark.show()

+----+---+----------+-----------------------+
|Name|Age|Experience|Experience After 2 year|
+----+---+----------+-----------------------+
|Alex| 31|        10|                     12|
|John| 30|         8|                     10|
|Igor| 29|         4|                      6|
+----+---+----------+-----------------------+

In [38]:
### Drop the columns
df_pyspark=df_pyspark.drop('Experience After 2 year')

In [39]:
df_pyspark.show()

+----+---+----------+
|Name|Age|Experience|
+----+---+----------+
|Alex| 31|        10|
|John| 30|         8|
|Igor| 29|         4|
+----+---+----------+

In [40]:
### Rename the columns
df_pyspark.withColumnRenamed('Name','New Name').show()

+--------+---+----------+
|New Name|Age|Experience|
+--------+---+----------+
|    Alex| 31|        10|
|    John| 30|         8|
|    Igor| 29|         4|
+--------+---+----------+